.board-wrapper {
  margin: 15px 0 15px;
}
.board {
}
.board__filter {
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.board__filter__item {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 1 1;
  background-color: #fff;
  border: 0.5px solid #80808038;
  color: #888;
  margin-right: 5px;
  border-radius: 10px;
  a {
    display: flex;
    margin-left: 7px;
    align-items: center;
  }
}
.filter__icon {
  width: 35px;
  margin-right: 5px;
}
//
.board__tags {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #8080806b;
}
.board__tags__item {
  background-color: #ececec;
  color: black;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;

  a {
    display: flex;
    margin-left: 7px;
    font-size: medium;
    align-items: center;
  }
}
.tags__icon {
  width: 20px;
  margin-right: 3px;
}
