* {
  box-sizing: border-box;
}
*,
html {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}
li {
  margin-left: 5px;
  margin-bottom: 0px;
}
a,
a:link {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
a,
a:visited,
a:hover,
a:link,
a:focus,
a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* main section */

.main-site-section-content {
  padding-top: 52px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 5px;
  /* padding: 50px 0px; */
  max-width: 950px;
}

/* main content header */
.main-content-header {
}

/* footer */

.main-site-footer {
  height: 70px;
  background-color: black;
  color: white;
}
.main-site-footer-bar {
  color: white;
  text-align: center;
  padding: 0 5em;
}

/*  Media */
@media (min-width: 500px) {
  .main-content {
    width: calc(100% - 5px);
    margin: auto;
    padding: 50px 0px;
  }
}

@media (min-width: 660px) {
  .main-content {
    width: calc(100% - 30px);
    margin: auto;
    padding: 50px 0px;
  }
}

@media (min-width: 860px) {
  .main-content {
    width: calc(100% - 50px);
    margin: auto;
    padding: 50px 5px;
  }
}

@media (min-width: 1020px) {
  .main-content {
    width: calc(100% - 100px);
    margin: auto;
    padding: 50px 20px;
  }
}
